In [54]:
import pandas as pd

data = pd.read_csv('ratings.csv')

def sort_films_id(row):
    if row.rating <= 2:
        return 'Низкий рейтинг'
    elif row.rating <= 4:
        return 'Средний рейтинг'
    elif row.rating == 4.5 or row.rating == 5:
        return 'Высокий рейтинг'
    else:
        return None

data['class'] = data.apply(sort_films_id, axis=1)

In [56]:
low_rate = data[data.rating <= 2]
low_rate.head(2)

   userId  movieId  rating   timestamp           class
3       1     1129     2.0  1260759185  Низкий рейтинг
5       1     1263     2.0  1260759151  Низкий рейтинг

In [57]:
middle_rate = data[data.rating <= 4]
middle_rate.head(2)

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  Средний рейтинг
1       1     1029     3.0  1260759179  Средний рейтинг

In [61]:
high_rate = data[data.rating >= 4.5]
high_rate.head(2)

    userId  movieId  rating  timestamp            class
21       2       17     5.0  835355681  Высокий рейтинг
22       2       39     5.0  835355604  Высокий рейтинг