In [65]:
import pandas as pd

data = pd.read_csv('visit_log.csv', sep=';')

def type_source(row):
    if row.traffic_source == 'google' or row.traffic_source == 'yandex':
        return 'organic'
    elif row.traffic_source == 'paid' or row.traffic_source == 'email':
        if row.region == 'Russia':
            return 'ad'
        else:
            return 'other'
    else:
        return row.traffic_source
    
data['source_type'] = data.apply(type_source, axis=1)

In [66]:
data[data.traffic_source == 'yandex'].head(1)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic

In [67]:
data[data.traffic_source == 'paid'].head(1)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad

In [68]:
traffic_data = data[data.traffic_source == 'paid']
traffic_data[traffic_data.region != 'Russia'].head(1)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
15,1549980797,5322fecfc9,https://host.ru/4adc8a29b212051b04,Belarus,9a45d98867,paid,other

In [69]:
data.traffic_source.unique()
data[data.traffic_source == 'direct'].head(1)

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct